PORT=4000
CORS_ORIGIN=https://swiftbite-ryf2.onrender.com
MYSQL_HOST=mysql-102acf26-swiftbite1.c.aivencloud.com
MYSQL_PORT=27904
MYSQL_USER=avnadmin
MYSQL_PASSWORD=your_aiven_password_here
MYSQL_DATABASE=defaultdb
